/* color palet */
/* From: https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
/* CSS HEX */
:root {
  --deep-twilight: #03045e;
  --french-blue: #023e8a;
  --bright-teal-blue: #0077b6;
  --blue-green: #0096c7;
  --turquoise-surf: #00b4d8;
  --sky-aqua: #48cae4;
  --frosted-blue: #90e0ef;
  --frosted-blue-2: #ade8f4;
  --light-cyan: #caf0f8;
}

/* imported Fonts */
/* From google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Mono:wght@200..700&family=Oswald&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Sour Gummy", sans-serif;
}


body {
            /* Add gif background */
            background-image: url("/src/assets/background.gif");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            height: 85vh;
            /* init margin/padding */
            margin: 0;
            padding: 0;
        }

h1 {
    text-align: center;
    color: var(--sky-aqua);
}